@charset "uft-8";
body{
    font-size: 12px;
}

.panel-left {
    width: 50%;
    float: left;
    padding: 20px 120px;
    border-right: 1px solid #dadada;
    margin: 20px auto;
    background-color: #fff;
}

.panel-right{
    margin: 20px auto;
    width: 50%;
    float: left;
    padding: 0 120px;
}
.panel_top{
    margin-bottom: 10px;
    font-family: LTMedium;
    color: #ababab;
    /* border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #dadada; */
}
.top_title{
    border-bottom: 4px solid #378694;
    line-height: 20px;
    float: left;
    height: 40px;
    min-width: 120px;
    text-align: center;
    cursor: pointer;
    display: block;
    width: 100%;
}
.top_title h2{
    color: #378694;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 14px;
    font-family: "UniqloProRegular", "fzlt_pro" !important;
    font-weight: 400!important;
}
.form_group{
    margin-top: 20px;
}
.form_group:first-child{
    margin-top: 0;
}
.form_group div:last-child{
    margin-right: 0;
}
.form_group div *{
    vertical-align: middle;
    display: inline-block;
}
.user_box{
    position: relative;
    border: 1px solid #dadada;
    height: 36px;
    width: 480px;
    margin-top: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    
}
.user_box input{
    padding-left: 23px;
    position: absolute;
    top: 10px;
    display: block;
    width: 480px;
}
.pass_box{
    position: relative;
    border: 1px solid #dadada;
    height: 36px;
    width: 480px;
    margin-top: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    
}
.pass_box input{
    padding-left: 23px;
    position: absolute;
    top: 10px;
    display: block;
    width: 480px;
}
.form_group:last-child{
    width: 100%;
}
.h-btn{
    cursor: pointer;
    color: #fff!important;
    width: 100%;
    border-color: #1b1b1b;
    background-color: #1b1b1b;
    font-size: 14px;
    text-align: center;
}

.panel-right h2{
    margin: 0;
    line-height: 60px;
    font-family: "UniqloProRegular", "fzlt_pro" !important;
    font-weight: 400!important;
    font-size: 24px;
}
.panel-right a{
    line-height: 52px;
    display: inline-block;

}
.inputAC{
    border-color: #28788c;

}
.error_msg{
    color: red;
    height: 10px;
}
.form-group-error{
    border-color: red;
}